@{
    ViewData["Title"] = "Dodaj";
    List<Drzava> podaci=ViewData["kljuc"] as List<Drzava>;
    Layout = null;
}

<h2>Unesi grad</h2>

<form action="/grad/snimi" class=" form-group" >

    <label>Naziv :</label>
    <input type="text" name="Naziv" style="border-radius:30px;margin:1%;padding:3px 1%;font-family:sans-serif;" value="Grad" />

    <label>Drzava :</label>
    <select name="DrzavaID" style="border-radius:30px;margin:1%;padding:3px 1%;font-family:sans-serif;">
        @foreach (Drzava x in podaci)
        {
            <option value="@x.DrzavaID">@x.Naziv</option>
        }
    </select>
  
    <label>Postanski broj :</label>
    <input type="text" name="PostanskiBroj" style="border-radius:30px;margin:1%;padding:3px 1%;font-family:sans-serif;" />
    <br />
    <button type="submit" class="btn btn-success" style="margin-top:1%">Sacuvaj</button>

</form>
<!--<div id="divRez"></div><!--Nema logike stavljati u novi div rezultat Forme - Istraziti !-->


