@{
    ViewData["Title"] = "Pristup odbijen";
}

<header class="mt-4">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger mt-3">Ooops, nažalost nije moguće pristupiti sekciji.</p>
</header>
