@{
    ViewData["Title"] = "Dodaj";
    Layout = null;
}

<h2>Unesi drzavu</h2>

<form action="/drzava/snimi">

    <label>Naziv :</label>
    <input type="text" name="Naziv" style="border-radius:30px;margin:1%;padding:3px 1%;font-family:sans-serif;" value="Drzava" />
    <br />
    <button type="submit" class="btn btn-success" style="margin-top:1%">Sacuvaj</button>

</form>