@using AutoSalon.Models.ViewModels;
@{
    ViewData["Title"] = "Lista";
    var podaci = (List<DrzavaVM>)ViewData["drzave"];
    int r = 0;
}
<h2>Lista drzava</h2>

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>rBR</th>
            <th>Naziv</th>
            <th colspan="2" style="text-align:center">Akcija</th>
        </tr>
    </thead>

    <tbody>

        @foreach (DrzavaVM x in podaci)
        {
            <tr>

                @{ r++;}
                <td>@r</td>
                <td>@x.Naziv</td>
                <td style="text-align:center">
                    <a asp-action="Izbrisi" asp-route-id="@x.DrzavaID" class="btn btn-danger" >Obrisi</a>
                </td> 
                <td style="text-align:center">
                    <a asp-action="Uredi" asp-route-id="@x.DrzavaID" class="btn btn-warning"  ajax-poziv="da" ajax-rezultat="divRez">Uredi</a>
                </td>
  
            </tr>
        }

    </tbody>

</table>
<a href="/drzava/dodaj" class="btn btn-info"  ajax-poziv="da" ajax-rezultat="divRez" >Dodaj drzavu</a>
<div id="divRez"></div>