
@{
    ViewData["Title"] = "Uredi";
    Drzava d = (Drzava)ViewData["kljuc"];

}

<h2>Uredi</h2>


<h2>Uredi drzavu</h2>
<form action="/drzava/Snimi">
    <label>ID:</label>
    <input type="text" name="DrzavaID" style="border-radius:30px;margin:1%;padding:3px 1%;font-family:sans-serif;" value="@d.DrzavaID" readonly="readonly" />

    <label>Naziv :</label>
    <input type="text" name="Naziv" style="border-radius:30px;margin:1%;padding:3px 1%;font-family:sans-serif;" value="@d.Naziv" />
    <br />
    <button type="submit" class="badge alert-success" style="margin-top:1%">Sacuvaj</button>
</form>