@model AutomobilDodajVM
@{
    ViewData["Title"] = "Dodaj automobil";
}

<h2 class="col mt-4">Dodaj automobil</h2>
<form asp-action="Dodaj" method="post" enctype="multipart/form-data" class="w-75 h-100 m-5 ">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Osnovne informacije</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Detalji o automobilu</a>

        </div>
    </nav>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row m-4">

                <div class="form-group col-sm-5 mt-4 mb-4">
                    <input type="file" asp-for="SlikaURL" />
                </div>

                <div class="form-group col-sm-5">

                </div>
                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="ProizvodjacID">Proizvođač automobila :</label>
                    <select asp-for="ProizvodjacID" asp-items="Model.Proizvodjaci" class="form-control"></select>
                    <span asp-validation-for="ProizvodjacID" class="text-danger"></span>

                </div>
                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="Model">Model automobila :</label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>

                </div>

                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="GodinaProizvodnje">Godina proizvodnje  :</label>
                    <input asp-for="GodinaProizvodnje" class="form-control" value="" />
                    <span asp-validation-for="GodinaProizvodnje" class="text-danger"></span>

                </div>
                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="Boja">Boja automobila :</label>
                    <input asp-for="Boja" class="form-control" />
                    <span asp-validation-for="Boja" class="text-danger"></span>

                </div>

                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="Cijena">Cijena automobila :</label>
                    <input asp-for="Cijena" class="form-control" value="" />
                    <span asp-validation-for="Cijena" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="Kilometraza">Kilometraža automobila :</label>
                    <input asp-for="Kilometraza" class="form-control" value="" />

                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Tip">Tip vozila :</label>
                    <select asp-for="Tip" asp-items="Model.Tipovi" class="form-control"></select>
                    <span asp-validation-for="Tip" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="PoslovnicaID">Poslovnica :</label>
                    <select asp-for="PoslovnicaID" asp-items="Model.Poslovnice" class="form-control"></select>
                    <span asp-validation-for="PoslovnicaID" class="text-danger"></span>

                </div>
                <div class="form-group col-sm-5 ml-3 mt-5 custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" asp-for="Dostupan">
                    <label class="custom-control-label " for="customCheck2" asp-for="Dostupan">Dostupan</label>
                </div>


            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">



            <div class="row m-5">
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Transmisija">Transmisija :</label>
                    <select asp-for="Transmisija" asp-items="Model.Transmisije" class="form-control"></select>
                    <span asp-validation-for="Transmisija" class="text-danger"></span>

                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Pogon">Pogon :</label>
                    <select asp-for="Pogon" asp-items="Model.Pogoni" class="form-control"></select>
                    <span asp-validation-for="Pogon" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="EmisioniStandard">Emisioni standard :</label>
                    <select asp-for="EmisioniStandard" asp-items="Model.EmisioniStandardi" class="form-control"></select>
                    <span asp-validation-for="EmisioniStandard" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Gorivo">Gorivo :</label>
                    <select asp-for="Gorivo" asp-items="Model.Goriva" class="form-control"></select>
                    <span asp-validation-for="Gorivo" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Kilovati">Snaga (u kW) :</label>
                    <input asp-for="Kilovati" class="form-control" value="" />
                    <span asp-validation-for="Kilovati" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="VelicinaFelgi">Veličina felgi :</label>
                    <input asp-for="VelicinaFelgi" class="form-control" />
                    <span asp-validation-for="VelicinaFelgi" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Tezina">Težina :</label>
                    <input asp-for="Tezina" class="form-control" value="" />
                    <span asp-validation-for="Tezina" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="BrojSjedista">Broj sjedišta :</label>
                    <input asp-for="BrojSjedista" class="form-control" value="" />
                    <span asp-validation-for="BrojSjedista" class="text-danger"></span>

                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="BrojVrata">Broj vrata :</label>
                    <select asp-for="BrojVrata" asp-items="Model.BrojeviVrata" class="form-control"></select>
                    <span asp-validation-for="BrojVrata" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mr-5">
                    <label asp-for="Kubikaza">Kubikaža automobila :</label>
                    <input asp-for="Kubikaza" class="form-control" value="" />
                    <span asp-validation-for="Kubikaza" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5 mt-2 mr-5">
                    <label asp-for="CijenaRentanja">Cijena iznamljivanja automobila :</label>
                    <input asp-for="CijenaRentanja" class="form-control" value="" />
                    <span asp-validation-for="CijenaRentanja" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>

    <input type="submit" value="Spremi" class="btn btn-lg btn-outline-success font-weight-bold ml-5" />
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
