@model AutomobilDodajVM
@{
    ViewData["Title"] = "Dodaj automobil";
}

<h2 class="col mt-4">Dodaj automobil</h2>
<div class="row mt-4">
    <div class="col-lg-6">
        <form asp-action="Dodaj" method="post" enctype="multipart/form-data" class="col-lg-8">
            <div>
                <input type="file" asp-for="SlikaURL" />
            </div>
            <div class="form-group mt-4">
                <label asp-for="ProizvodjacID">Proizvođač automobila :</label>
                <select asp-for="ProizvodjacID" asp-items="Model.Proizvodjaci" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Model">Model automobila :</label>
                <input asp-for="Model" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GodinaProizvodnje">Godina proizvodnje  :</label>
                <input asp-for="GodinaProizvodnje" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Boja">Boja automobila :</label>
                <input asp-for="Boja" class="form-control" />
            </div>

            <div class="form-group custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2" asp-for="Dostupan">
                <label class="custom-control-label " for="customCheck2" asp-for="Dostupan">Dostupan</label>
            </div>
            <div class="form-group custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" asp-for="Novo">
                <label class="custom-control-label" for="customCheck1" asp-for="Novo">Novo</label>
            </div>
            <input type="submit" value="Spremi" class="btn btn-success" />
        </form>

    </div>
</div>