@model AutomobilUrediVM
@{
    ViewData["Title"] = "Uredi automobil";
}

<h2>Uredi automobil</h2>

<form asp-action="Uredi" method="post">
    <input asp-for="AutomobilID" hidden/>

    <div class="form-group">
        <label asp-for="ProizvodjacID">Proizvođač automobila :</label>
        <select asp-for="ProizvodjacID" asp-items="Model.Proizvodjaci" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Model">Model automobila :</label>
        <input asp-for="Model" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GodinaProizvodnje">Godina proizvodnje automobila :</label>
        <input asp-for="GodinaProizvodnje" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Boja">Boja automobila :</label>
        <input asp-for="Boja" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Dostupan">Dostupan automobil :</label>
        <input asp-for="Dostupan" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Novo">Novo :</label>
        <input asp-for="Novo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Spremi</button>
</form>