
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-success">Kakvog  limenog ljubimca zelite ?</h2>
<hr />
<a class="btn btn-group btn-secondary btn-link m-3 btn-outline-success "asp-action="index" asp-controller="Automobil" >Nova vozila</a>
<br />
<a class="btn btn-group btn-secondary btn-link m-3 btn-outline-warning" asp-action="index" asp-controller="Automobil">Polovna vozila</a>
<br />
<a class="btn btn-group btn-secondary btn-link m-3 btn-outline-info" asp-action="index" asp-controller="Poslovnica" ajax-poziv="da" ajax-rezultat="xx">Pretraga po poslovnicama</a>

<div id="rez"></div>

