
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-success">Kakvog  limenog ljubimca zelite ?</h2>
<hr />
<a class="btn btn-group btn-secondary btn-link m-3 btn-outline-success ">Nova vozila</a>
<br />
<a class="btn btn-group btn-secondary btn-link m-3 btn-outline-warning">Polovna vozila</a>
<br />
<a class="btn btn-group btn-secondary btn-link m-3 btn-outline-info">Pretraga po poslovnicama</a>



