body {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-bottom: 20px;
    color: black;
    height:1000px;
    /*background-color:black;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*MojCSS*/

.PoslovnicaDetalji{
    position:absolute;
    right:150px;
}

.kramarSlika {
    width: 100%;
    height: 1000px;
    background: url(../images/kramar.jpg);
    width: 1400px;
    height: 1000px;
    padding:10%;
}

#popularSaloni {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;

    
    
}
    
    #popularSalonSlike {
    width: 100%;
    height: 100%;
    display: flex; /*//jedan pored druge*/
}
.slika {
    width: 33%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    
    
}
    

.sa {
    background: url('../images/beograd.jpg') repeat-x center;
}
.bg {
    background: url('../images/beograd.jpg') repeat-x center;
}
.pa {
    background: url('../images/pariz.jpg') repeat-x center;
}
.am {
    background: url('../images/amsterdam.jpg') repeat-x center;
}
.be {
    background: url('../images/berlin.jpg') repeat-x center; 
}
.mo {
    background: url('../images/mostar.jpg') repeat-x center; 
}

.transparent_class {
    background-color:black;
    opacity: 0.5;
}
.slika a {
    color: darkred;
    background-color: white;
    border-radius: 3px;
    padding: 1%;
}
    .slika a:hover {
        color: white;
        background-color: darkred;
        border-radius: 3px;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 3px;
        
  
}
    
#kupi a:hover {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    text-decoration: none;
}
.aRW {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    border-bottom:3px solid white;
    padding: 1%;
    width:100%;
    margin-bottom:0%;
    font-size:x-large
}
.aRW:hover {
    color: darkred;
    background-color: white;
    border-radius: 3px;
    text-decoration: none;
}
.aWR {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    padding: 1%;
}

    .aWR:hover {
        color: darkred;
        background-color: white;
        border-radius: 3px;
        text-decoration: none;
    }

.aRWa {
    color: darkred;
    
    padding: 1%;
}

    .aRWa:hover {
        color: darkslategrey;
     
        text-decoration: none;
    }
    .aRWa:active {
        color: black;
        text-decoration: none;
    }

#PoslovnicaDivShared {
    height: 200px;
}
#oNama {
    height: auto;
}
#InfoGradovi {
    height: auto;
    margin:20px;
}
    #InfoGradovi p {
        color: darkred;
        font: italic 30px italic;
        padding: 5px;
    }

#InfoGradoviJedan{
    
    text-align:center;
}
#kraj{
    float:right;
    margin-right:10%;
}

#BtnVrh {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkred; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
    #BtnVrh:hover {
   
    background-color: white; /* Add a dark-grey background on hover */
    color:darkred;
    border:3px solid darkred;
}

    
.navbar-dark .navbar-nav .active > .nav-link:hover {
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
.navbar-dark .navbar-nav .active > .nav-link {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
 
.navbar-nav a:hover {
    background-color:white;
    border-radius:3px;
    color:darkred;
}

/*.navbar-nav a :link {
    background-color: 
        darkred;
    border-radius: 3px;
}*/
.kontrast {
    background-color: black;
    border-radius:10px;
}
.kontrast p {
    color: wheat;
    
    
}
.bijela{
    background-color:darkred;
    padding:1%;
}
.mt {
    margin-top: 0 !important;
    padding-right: 0 !important;
}
.RegisterInput{
    color:white;
}



.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

    .navbar-fixed-left .navbar-nav > li {
        float: none; /* Cancel default li float: left */
        width: 139px;
    }

    .navbar-fixed-left + .container {
        padding-left: 160px;
    }

    /* On using dropdown menu (To right shift popuped) */
    .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
        margin-top: -50px;
        margin-left: 140px;
    }

    .datumL,.datumD{
        width:30%;
        margin-bottom:10%;
    }

    

#datumRezervacijeLD{
    width:100%;
    height:100px;
}
.datumL,.datumD{
    margin:10px;
    width:33%;
}
.datumD {
    float: right;
    
}
.datumL{
    float:left;
}

#prikaziSakrijDIV {
    width: 100%;
    background-color: darkred;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    color:white;
}