body {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-bottom: 20px;
    color: black;
   
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    
    .carousel-caption {
        display: none;
    }
}


/*MojCSS*/

.PoslovnicaDetalji{
    position:absolute;
    right:150px;
}

.kramarSlika {
    width: 100%;
    height: 1000px;
    background: url(../images/kramar.jpg);
    width: 1400px;
    height: 1000px;
    padding:10%;
}

#popularSaloni {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
 
}
    
    #popularSalonSlike {
    width: 100%;
    height: 100%;
    display: flex; /*//jedna pored druge*/
}
.slika {
    width: 33%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    
    
}
    

.sa {
    background: url('../images/beograd.jpg') repeat-x center;
}
.bg {
    background: url('../images/beograd.jpg') repeat-x center;
}
.pa {
    background: url('../images/pariz.jpg') repeat-x center;
}
.am {
    background: url('../images/amsterdam.jpg') repeat-x center;
}
.be {
    background: url('../images/berlin.jpg') repeat-x center; 
}
.mo {
    background: url('../images/mostar.jpg') repeat-x center; 
}

.VW{
    height:128px;
    width:128px;
    background: url('../images/VW_Logo_2x.png') repeat-x center;
    margin:6%;
    
}
.CITROEN {
    height: 128px;
    width: 128px;
    background: url('../images/CITROEN_Logo_2x.png') repeat-x center;
    margin: 6%;
    
}
.AUDI {
    height: 128px;
    width: 128px;
    background: url('../images/AUDI_Logo_2x.png') repeat-x center;
    margin: 6%;
}
.BMW {
    height: 128px;
    width: 128px;
    background: url('../images/bmw-5-202750.png') repeat-x center;
    margin: 6%;
}
.HYUNDAI {
    height: 128px;
    width: 128px;
    background: url('../images/HYUNDAI_Logo_x2.png') repeat-x center;
    margin: 6%;
}
.MERCEDES {
    height: 128px;
    width: 128px;
    background: url('../images/MERCEDES_Logo_x2.png') repeat-x center;
    margin: 6%;
}
.PEUGEOT {
    height: 128px;
    width: 128px;
    background: url('../images/PEUGEOT_Logo_x2.jpg') repeat-x center;
    margin: 6%;
}
.TOYOTA {
    height: 128px;
    width: 128px;
    background: url('../images/TOYOTA_LOGO_x2.png') repeat-x center;
    margin: 6%;
}
    .HH:hover {
        box-shadow: rgb(137, 189, 211) 5px 5px 10px;
        border-radius:10%;
    }
.transparent_class {
    background-color:black;
    opacity: 0.5;
}
.slika a {
    color: #89bdd3;
    background-color: white;
    border-radius: 3px;
    padding: 1%;
}
    .slika a:hover {
        
        border-radius: 3px;
        text-decoration: none;
        border: 1px solid #89bdd3;
        border-radius: 3px;
        color: white;
        background-color: #9ad3de;
    }
    
#kupi a:hover {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    text-decoration: none;
}
.aRW {
    color: white;
    background-color: #89bdd3;
    border-radius: 3px;
    border-bottom:3px solid white;
    padding: 1%;
    width:100%;
    margin-bottom:0%;
    font-size:x-large
}
.aRW:hover {
    color: #89bdd3;
    background-color: white;
    border-radius: 3px;
    text-decoration: none;
}
.aWR {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    padding: 1%;
}

    .aWR:hover {
        color: darkred;
        background-color: white;
        border-radius: 3px;
        text-decoration: none;
    }

.aRWa {
    color: darkred;
    
    padding: 1%;
}

    .aRWa:hover {
        color: darkslategrey;
     
        text-decoration: none;
    }
    .aRWa:active {
        color: black;
        text-decoration: none;
    }

#PoslovnicaDivShared {
    
    background-color:black;
}
#oNama {
    height: auto;
}
#InfoGradovi {
    height: auto;
    margin:20px;
    
    opacity:0.7;
    border-radius:3%;
}
    #InfoGradovi p {
        color:black;
        font-family: 'Times New Roman', Times, serif;
        z-index:1;
        font-size: 30px;
        padding: 5px;
    }

#InfoGradoviJedan{
    
    text-align:center;
}
#kraj{
    float:right;
    margin-right:10%;
}

#BtnVrh {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkorange;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
    #BtnVrh:hover {
        background-color: white; 
        color: darkorange;
        border: 2px solid darkorange;
    }

.OrangeWhite{
    background-color:darkorange;
    color:white;
}  
.OrangeWhite:hover{
    color:darkorange;
    border-color:darkorange;
    background-color:white;
}
.navbar-dark .navbar-nav .active > .nav-link:hover {
    color: #89bdd3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    
    
}
.navbar-dark .navbar-nav .active > .nav-link {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
 
.navbar-nav a:hover {
    background-color:white;
    border-radius:3px;
    
}


.kontrast,kontrast2 {
   
    border-radius:10px;
    
}
    .kontrast p {
        color: ghostwhite;
        border-bottom: 1px solid grey;
        
        padding: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.kontrast2 p {
    color: white;
    border-bottom: 1px solid #89bde3;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.kontras2 dt label{
    color:#89bde3 !important;
    font-weight:100;
}
.bijela {
    
    padding: 1%;
    background-color: #89bdd3;
    border-radius:1%;
}
.mt {
    margin-top: 0 !important;
    padding-right: 0 !important;
}
.RegisterInput{
    color:white;
}



.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

    .navbar-fixed-left .navbar-nav > li {
        float: none; 
        width: 139px;
    }

    .navbar-fixed-left + .container {
        padding-left: 160px;
    }

    
    .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
        margin-top: -50px;
        margin-left: 140px;
    }

    .datumL,.datumD{
        width:30%;
        margin-bottom:10%;
    }

    

#datumRezervacijeLD{
    width:100%;
    height:100px;
}
.datumL,.datumD{
    margin:10px;
    width:33%;
}
.datumD {
    float: right;
    
}
.datumL{
    float:left;
}




.tPsS{
    background-color:#89bdd3;
    color:white;
}
.SP {
    background-color: #c9c9c9;
    color: white;
}
.tPsS :hover{
    background-color: #c9c9c9 !important;
    color: white;
}
.filterDiv{
    border:3px solid #89bdd3;
    background-color:#c9c9c9;
}
#prikaziSakrijDIV {
    
    width: 100%;
    background-color: #c9c9c9;
    height: 266px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    border-radius:1%;
}
#FILTERI {
    position: fixed;
    top: 7%;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 93%;
    background-color: #c9c9c9;
    color: white;
    border-radius: 3%;
    bottom: 0;
    z-index: 1;
    box-shadow: -7px 0px 10px 7px #89bdd3;
}
#btnFilter {
    position: fixed;
    width: 10%;
    top: 18%;
    right: -4%;
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 1001;
}
.bgTplava{
    background-color:#89bdd3;
}
.fontTplava {
    color: #89bdd3;
}
.fontBijela {
    color: white;
}
.bgSiva {
    background-color: #c9c9c9;
}
.bgBijela{
    background-color: white;
   
}
.bgSsiva {
    background-color: #e3e3e3;
}
.bordersSiva{
    border-color:#e3e3e3;
}
.bordertPlava {
    
    border: 2px solid #89bdd3;
}

.btnTpSp {
    background-color: #89bdd3;
    color: white;
}
    .btnTpSp:hover {
        background-color: #9ad3de;
        color: white;
        border: 1px solid white;
    }

 #xIcon{
     background:url('../images/icon3.png') repeat-x center;
     height:32px;
     width:32px;
     border-radius:3%;
 }

.procitaoPoruka{
     background-color:black;
     cursor:pointer;
 }
#idporuke{
    cursor:pointer;
}