body {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-bottom: 20px;
    color: darkslategrey;
    height:1000px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*MojCSS*/

.PoslovnicaDetalji{
    position:absolute;
    right:150px;
}

.kramarSlika {
    width: 100%;
    height: 1000px;
    background: url(../images/kramar.jpg);
    width: 1400px;
    height: 1000px;
    padding:10%;
}

#popularSaloni {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;

    
    
}
    
    #popularSalonSlike {
    width: 100%;
    height: 100%;
    display: flex; 
}
.slika {
    width: 33%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.sa {
    background: url('../images/sarajevo.jpg') repeat-x center;
}
.bg {
    background: url('../images/beograd.jpg') repeat-x center;
}
.pa {
    background: url('../images/pariz.jpg') repeat-x center;
}
.am {
    background: url('../images/amsterdam.jpg') repeat-x center;
}
.be {
    background: url('../images/berlin.jpg') repeat-x center; 
}
.mo {
    background: url('../images/mostar.jpg') repeat-x center; 
}

.transparent_class {
    background-color:black;
    opacity: 0.5;
}
.slika a {
    color: darkred;
    background-color: white;
    border-radius: 3px;
    padding: 1%;
}
.slika a:hover {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    text-decoration:none;
}
#kupi a:hover {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    text-decoration: none;
}
.aRW {
    color: darkred;
    background-color: white;
    border-radius: 3px;
    padding: 1%;
}
.aRW:hover {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    text-decoration: none;
}
.aWR {
    color: white;
    background-color: darkred;
    border-radius: 3px;
    padding: 1%;
}

    .aWR:hover {
        color: darkred;
        background-color: white;
        border-radius: 3px;
        text-decoration: none;
    }

.aRWa {
    color: darkred;
    
    padding: 1%;
}

    .aRWa:hover {
        color: white;
     
        text-decoration: none;
    }
    .aRWa:active {
        color: black;
        text-decoration: none;
    }

#PoslovnicaDivShared {
    height: 200px;
}
#oNama {
    height: auto;
}

.navbar-dark .navbar-nav .active > .nav-link{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:1.3rem;
}
 
.navbar-nav a:hover {
    background-color:white;
    border-radius:3px;
}
.navbar-nav a :link {
    background-color: 
        darkred;
    border-radius: 3px;
}
.kontrast {
    background-color: black;
    border-radius:10px;
}
.kontrast p {
    color: wheat;
    
    
}
.bijela{
    background-color:darkred;
    padding:1%;
}
.mt {
    margin-top: 0 !important;
    padding-right: 0 !important;
}
.RegisterInput{
    color:white;
}
