@{
    ViewData["Title"] = "Home Page";
}

<div class="container active font-weight-bold p-xl-5" style="text-align:right;" >
    <a asp-action="Index" asp-controller="KupiAutomobil"  style="color:black;"><h3>Kupi Automobil</h3></a>
    <br />
    <br />
    <a asp-action="Index" asp-controller="Automobil"class="pb-xl-1" style="color:black;"><h3>Iznajmi Automobil</h3></a>

</div>
<div id="kupi"></div>
<div id="popularSaloni" class="container ">
    <p class="p-xl-2 font-weight-bold m-1">Najpopularniji Saloni</p>

    <div id="popularSalonSlike" class="constainer">
        <div class="slika sa"><a>Sarajevo</a> </div>
        <div class="slika mo"><a>Mostar</a></div>
        <div class="slika be"><a>Berlin</a></div>
    </div>
    <div id="popularSalonSlike" class="constainer">
        <div class="slika pa"><a>Pariz</a></div>
        <div class="slika am"><a>Amsterdam</a></div>
        <div class="slika bg"><a>Beograd</a></div>
    </div>
</div>
<div id="oNama">


</div>
    
