@{
    ViewData["Title"] = "Home Page";
}

<div class="container active font-weight-bold p-xl-5" >
    <a asp-action="Index" asp-controller="KupiAutomobil" class="pb-xl-1">Kupi Automobil</a>
    <br />
    <br />
    <a asp-action="Index" asp-controller="Automobil"class="pb-xl-1">Rentaj Automobil</a>

</div>
<div id="popularSaloni" class="container ">
    <p class="p-xl-5 font-weight-bold ">Najpopularnije lokacije</p>
    <div id="popularSalonSlike">
        <div class="ss">
            Sarajevo
        </div>
        <div class="ss"><a>Mostar</a></div>
        <div class="ss"><a>Berlin</a></div>
        <div class="ss"><a>Pariz</a></div>
        <div class="ss"><a>Amsterdam</a></div>

    </div>
</div>
